body{
    background-color: antiquewhite;
}
hr {
    background-color: antiquewhite;
    height: 0px;
    width: 5%;
    border: 3px dotted; /* applied dotted with size */
    border-style: none none dotted;
    color: gray;
}
.h11{
    text-decoration: underline;
}
img{
    height: 200px;
    width: 200px;
}
h1{
    color: #66bfbf;
}
h3{
    color: #66bfbf;
}
